.center-text {
    align-items: center;
    text-align: center;
    }
.center-screen {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

p {
    font-size: medium;
}

body {
    background-color: whitesmoke;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
  }
  
  