<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodboard </title>
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'stylesheet.css') }} ">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
</head>
<body>
    <img src= "/static/media/og1.1.png" class="center">
    <div id = "container">
        <p class = "center-text"> The aesthetic of the board was inspired by GitHub's commit logs! The darker a cell, the more negative (sad, depressed, angry) a song is; the lighter a cell, the more positive (happy, cheerful, euphoric) a song is. Moodboard analyzes your latest 50 songs, so you can keep checking back in to see how your board changes over time! </p>
    </div>
    <div class="center-text">
        <button> <a href = {{ url_for('moodboard', _external=True) }} > see your board! </a> </button>
        
    </div>
    <img src= "/static/media/2.1.png" class="center">
</body>
</html>